python-dotenv
ipykernel
ipywidgets
openai
gradio
langchain
langchain-core
langchain-text-splitters
langchain-openai
langchain-chroma
langchain-community
langchain-huggingface
sentence-transformers
pymupdf
chromadb
scikit-learn
rank_bm25